<h1>Catálogo de Filmes</h1>

<dl>
<% @movies.each do |movie| %>
  <dt><%= link_to movie.title, movie %></dt>
  <dd><%= image_tag(movie.poster.variant(resize_to_limit: [200, 300])) if movie.poster.attached? %></dd>
  <dd><%= movie.release_year %></dd>
  <dd><%= movie.status %></dd>
<% end %>
</dl>